	<head>
		<title>羽天珼岸 . HakureiWing - Powerd by 0MuMDAU</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="http://hakurei.com.tw/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="http://hakurei.com.tw/static/css/main.css" />
		<noscript><link rel="stylesheet" href="http://hakurei.com.tw/static/css/noscript.css" /></noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="http://hakurei.com.tw/assets/css/ie8.css" /><![endif]-->
		<script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-40139.js"></script>
	</head>
