<!DOCTYPE html>
{% include head.html %}
<body style="height:100%;">
	<div class= "ui container" style="padding-top:2%;">
	<div class ="ui grid">
			<div class="four wide column">
				<img src="/static/img/wind.png" style="width:92%; padding-right:1%; padding-left:2%;">
				<div style="padding-top:10%;" >
<div class="ui pointing vertical menu" style="width:90%;" >

  <a class="item" style="pading:1px;" href="https://hakurei.club">
	  <h4><i style="padding-right:4px;" class="fa fa-home"></i>  羽天珼岸 HakureiWing </h4>
  </a>
  <a class="item active">
	 <i style="padding-right:5px;"  class="fa fa-comments"></i> 躲雨閒聊 /..Blog
  </a>
  <a class="item" href="https://www.facebook.com/HakureiWing/">
	  <i style="padding-right:8px;"  class="fa fa-facebook-official"></i> 轉移陣地 /..Facebook
  </a>
  <a class="item" href="/card">
	  <i style="padding-right:5px;"  class="fa fa-picture-o"></i> 雨天塗鴉 /..Gallery
  </a>
  <a class="item" href="mailto:contact@hakurei.club">
	  <i style="padding-right:5px;"  class="fa fa-envelope-o"></i> 買把傘吧 /..Contact
  </a>
  <div class="item">
  </div>
</div>
<br>
<div class="ui horizontal divider" style="width:90%;">
		      我是賣萌的分割線
</div>
<br>
				</div>
			</div>
			<div class ="twelve wide column">
				<div style="padding-top:2%;" >
			<div class = "ui segment piled" style="padding:5%;">
				{{ content }}
			</div>
			</div>
		</div>
	</div>
	<div class="ui horizontal divider " style="padding-top:3%; width:100%;">
		<i class="fa fa-copyright"></i>羽天珼岸.HakureiWing / CMS:0Mu-Project / hakurei.club
	</div>
	</div>
		<script>
$('.ui.sticky')
.sticky({
	context: '#nav',
})
;
		</script>
</body>
</html>
