<!DOCTYPE html>
<html>

{% include head.html %}
	<body style="height:100%;">
		<div id="wrapper" style="height:100%;">
			<nav id="nav">
				<a href="http://hakurei.com.tw" class="icon fa-home"><span>首頁</span></a>
				<a href="/" class="icon fa-feed active"><span>最新消息</span></a>
				<a href="http://hakurei.com.tw/about" class="icon fa-group"><span>關於繪師</span></a>
				<a href="https://www.facebook.com/HakureiWing/" class="icon fa-facebook"><span>Facebook</span></a>
			</nav>
			<div id="main" style="height:100%; background: rgba(255, 255, 255, 0.8); border-radius:10px; width:100%;">
				<article id="me" class="panel" style="height:100%; width:100%">
					<div style="display : table; padding-top:9%; padding-left:7%; padding-left:7%; padding-bottom:9%; width:100%; float:left; ">	
			{{ content }}
					</div>
				</article>
			</div>
			<div id="footer">
				<ul class="copyright">
					<li>&copy; 羽天珼岸. HakureiWing</li>
					<br />
					<li> Design:零夢 . 背景:Gnlp</li>
				</ul>
			</div>
		</div>
		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/skel-viewport.min.js"></script>
			<script src="/static/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/js/main.js"></script>

	</body>
</html>
